.button {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  border: 1px solid black;
  float: left;
}

.button:hover {
  background-color: lightgray;
}
.button:active {
  background-color: gray;
}
.clear {
  clear: both;
}

.label {
  font-size: 30px;
}